@page
@model ClearSpam.Web.Pages.Accounts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Account</h1>

<div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Account.Name" class="control-label"></label>
                <input asp-for="Account.Name" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Account.Server" class="control-label"></label>
                <input asp-for="Account.Server" class="form-control" readonly />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Account.Port" class="control-label"></label>
                <input asp-for="Account.Port" class="form-control" readonly />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="Account.Ssl" class="control-label"></label>
                <select asp-for="Account.Ssl" class="form-control" readonly disabled>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Account.Login" class="control-label"></label>
                <input asp-for="Account.Login" class="form-control" readonly />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" type="password" value="@Model.Account.Password" readonly />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Account.WatchedMailbox" class="control-label"></label>
                <input asp-for="Account.WatchedMailbox" class="form-control" readonly />
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<br />
<h4>Rules</h4>
<hr />
<p>
    <a asp-page="../Rules/Create" asp-route-id="@Model.Account.Id">Create New Rule</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account.Rules.FirstOrDefault().Field)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.Rules.FirstOrDefault().Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Account.Rules)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Field)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-page="../Rules/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="../Rules/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
